link(rel="stylesheet", type="text/css", href="footer.css")

footer#footer
  .footer-content
    .footer-section
      h3.footer-title About Us
      p We're dedicated to helping pets find loving homes and supporting pet owners in their journey.

    .footer-section
      h3.footer-title Quick Links
      ul.footer-links
        li
          a(href="about") About Us
        li
          a(href="contact") Contact Us
        li
          a(href="/search") Search Pets
        li
          a(href="/dogBreeds") Dog Breeds
        li
          a(href="/catBreeds") Cat Breeds
        li
          a(href="/care") Pet Care

    .footer-section
      h3.footer-title Contact Us
      p Email: info@fureverhome.com
      p Phone: (123) 456-7890

  .footer-bottom
    p &copy; 2024 FurEverHome. All rights reserved.