link(rel="stylesheet", type="text/css", href="header.css")

header#header 
  .header-content   
    h2#site-name 
      a(href="/") FurEverHome 
    nav
      ul
        li
          a(href="/") Home
        li
          a(href="/search") Search
        li
          a(href="/dogBreeds") Dog Breeds
        li
          a(href="/catBreeds") Cat Breeds
        li
          a(href="/care") Pet Care
        li
          a(href="/about") About
        li
          a(href="/contact") Contact